<a href="https://colab.research.google.com/github/Pranjal220906/Pranjal-Chaudhary/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

1. Creating a Pandas Series

In [2]:
stock_price = [150.25, 155.50, 152.00, 158.75, 160.10, 159.90,
161.50]

In [3]:
print(stock_price)

[150.25, 155.5, 152.0, 158.75, 160.1, 159.9, 161.5]

In [4]:
np.array(stock_price).dtype

dtype('float64')

In [5]:
type(np.array(stock_price))

numpy.ndarray

In [6]:
np.ndarray

numpy.ndarray

In [7]:
stock_price.index

In [9]:
day = ['Monday',
'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

daily_prices = pd.Series(data=stock_price, index=day)
daily_prices

Monday       150.25
Tuesday      155.50
Wednesday    152.00
Thursday     158.75
Friday       160.10
Saturday     159.90
Sunday       161.50
dtype: float64

In [10]:
daily_prices.loc[['Monday','Wednesday']]

Monday       150.25
Wednesday    152.00
dtype: float64

In [11]:
daily_prices.loc[['Monday','Wednesday','Friday']]

Monday       150.25
Wednesday    152.00
Friday       160.10
dtype: float64

In [12]:
daily_prices.loc[['Monday','Tuesday','Wednesday','Thursday','Friday']]

Monday       150.25
Tuesday      155.50
Wednesday    152.00
Thursday     158.75
Friday       160.10
dtype: float64

In [13]:
print(daily_prices[daily_prices>158.00])

Thursday    158.75
Friday      160.10
Saturday    159.90
Sunday      161.50
dtype: float64

Question 2:
You are a data intern for an online electronics store. Your manager has given you the inventory
data for a new line of smart gadgets. The data is currently stored in a Python dictionary, where
the keys are the product IDs and the values are the number of units in stock. Your task is to use
Pandas Series to efficiently manage and analyze this inventory data.

In [14]:
gadget_inventory = {'P101': 75, 'P102': 120, 'P103': 50, 'P104':
90, 'P105': 15}

In [15]:
print (gadget_inventory)

{'P101': 75, 'P102': 120, 'P103': 50, 'P104': 90, 'P105': 15}

In [16]:
ProductIDs= list(gadget_inventory.values())
print(ProductIDs)

[75, 120, 50, 90, 15]

In [17]:
gadget_series = pd.Series(gadget_inventory)
print(gadget_series.index)
print(gadget_series.values)
print(gadget_series.sum())

Index(['P101', 'P102', 'P103', 'P104', 'P105'], dtype='object')
[ 75 120  50  90  15]
350

In [19]:
print()

In [20]:
low_stock_products = gadget_series[gadget_series < 60]
print(low_stock_products)

P103    50
P105    15
dtype: int64