<a href="https://colab.research.google.com/github/Pranjal220906/Pranjal-Chaudhary/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
rides = pd.read_csv("https://raw.githubusercontent.com/pradhrahul/Data-Science-Visualization/refs/heads/main/ride_sharing_clean.csv")
rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ride_id          25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
 10  tire_sizes       25760 non-null  int64
 11  ride_dt          25760 non-null  object
dtypes: int64(7), object(5)
memory usage: 2.4+ MB

In [3]:
rides.head()

,ride_id,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_sizes,ride_dt
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,27,2020-01-19
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,26,2018-10-24
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,26,2017-12-25
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,29,2026-10-14
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27,2019-01-29

In [4]:
rides['user_type'] = rides['user_type'].astype(int)
rides['user_type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 25760 entries, 0 to 25759
Series name: user_type
Non-Null Count  Dtype
--------------  -----
25760 non-null  int64
dtypes: int64(1)
memory usage: 201.4 KB

In [5]:
rides['user_type'].describe()

count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

In [6]:
rides['user_type'].astype("category").dtype

CategoricalDtype(categories=[1, 2, 3], ordered=False, categories_dtype=int64)

In [7]:
rides['user_type']= rides['user_type'].astype("category")

In [8]:
rides['user_type'].dtype

CategoricalDtype(categories=[1, 2, 3], ordered=False, categories_dtype=int64)

In [9]:
rides['user_type'].describe()

count     25760
unique        3
top           2
freq      12972
Name: user_type, dtype: int64

In [10]:
dict_ut = {
    1: "Free Ride",
    2: "Pay per ride",
    3: "Monthly Subscriber"
}

In [11]:
rides['new_usertype']= rides['user_type'].map(dict_ut)

In [12]:
rides[['user_type','new_usertype']]

      user_type        new_usertype
0             2        Pay per ride
1             2        Pay per ride
2             3  Monthly Subscriber
3             1           Free Ride
4             2        Pay per ride
...         ...                 ...
25755         1           Free Ride
25756         2        Pay per ride
25757         2        Pay per ride
25758         2        Pay per ride
25759         3  Monthly Subscriber

[25760 rows x 2 columns]

In [13]:
rides['duration'].dtype

dtype('O')

In [14]:
duration_trim = rides['duration'].str.strip("miniutes")

In [15]:
duration_time = duration_trim.astype(int)

In [16]:
duration_time.mean()

np.float64(11.389052795031056)

In [17]:
rides["duration"].str.split(expand =  True)[0]

0        12
1        24
2         8
3         4
4        11
         ..
25755    11
25756    10
25757    14
25758    14
25759    29
Name: 0, Length: 25760, dtype: object

In [18]:
rides["duration"].str.split(expand =  True)[0].dtype

dtype('O')

In [19]:
rides["duration_trim"] = rides["duration"].str.split(expand =  True)[0].astype("int")

In [20]:
rides["duration_trim"].dtype

dtype('int64')

In [21]:
display(rides.describe())

,ride_id,station_A_id,station_B_id,bike_id,user_birth_year,tire_sizes,duration_trim
count,25760.000000,25760.000000,25760.000000,25760.000000,25760.000000,25760.000000,25760.000000
mean,12880.533579,31.023602,89.558579,4107.621467,1983.054969,26.918944,11.389053
std,7436.357902,26.409263,105.144103,1576.315767,10.010992,1.133791,23.500516
min,0.000000,3.000000,3.000000,11.000000,1901.000000,26.000000,1.000000
25%,6440.750000,15.000000,21.000000,3106.000000,1978.000000,26.000000,6.000000
50%,12880.500000,21.000000,58.000000,4821.000000,1985.000000,27.000000,9.000000
75%,19320.250000,67.000000,93.000000,5257.000000,1990.000000,27.000000,13.000000
max,25760.000000,81.000000,383.000000,6638.000000,2001.000000,29.000000,1372.000000